<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Alec's Maps</title>
    <link rel="stylesheet" type="text/css" href="custom.css" class="css">
  </head>
  <body>
    <div id="map"></div>
    <script src="custom.js"></script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCixWPr1gkQCJfETHKU0S51_C2yBme_o7U&callback=initMap"
    async 
    defer>
    </script>

    <script
    th:src="@{${'https://maps.googleapis.com/maps/api/js?key=' + 
    @environment.getProperty('api_key') + '&callback=initMap'}}"
    async
    defer>
    </script>

  </body>
</html>